In [ ]:
payload = {
    "search_terms": "data visualization",
    "location": "New York City, NY",
    "page": 1,
    "fetch_full_text": "yes"
}

max_page = 10
result = {}
for i in range(1, max_page + 1):
    try:
        payload.update({'page': i})
        
        if i not in result:
            result[i] = requests.request("POST", url, json=payload, headers=headers)
            
    except:
        continue

7344000.0

In [2]:
datetime.now().date()

datetime.date(2022, 7, 14)

In [3]:
datetime.strptime("20/04/2022", format_).date()

datetime.date(2022, 4, 20)

In [ ]:


import datetime

datetime.datetime.strptime('Mon Feb 15 2010', '%a %b %d %Y').strftime('%d/%m/%Y')

In [ ]:
datetime.datetime.now().strftime('%d %b %Y , %H:%M:%S %p')

In [ ]:
def immunte(Fname, Lname, DRB, GDR, driver):
    al = []
    # work on  search button
    driver.find_element_by_xpath("//*[@id='edittesttest']").click()

    # work on 
    lastname = driver.find_element_by_id("LM")
    lastname.clear()
    lastname.send_keys(Lname)

    # work on 
    firstname = driver.find_element_by_id("FN")
    firstname.clear()
    firstname.send_keys(Fname)

    # work on 
    birthdate = driver.find_element_by_id("DRB")
    birthdate.clear()
    birthdate.send_keys(DRB)

    # work on advanced search button to input GDR
    try:
        driver.find_element_by_xpath(
            "//*[@id='queryResultsForm']/table/tbody/tr/td[2]/table/tbody/tr[3]/td/table/tbody/tr[2]/td[5]/input").click()

        # work on GDR selection button
        obj = Select(driver.find_element_by_name("OSC"))
        if GDR == 'W':
            obj.select_by_index(2)
        elif GDR == 'S':
            obj.select_by_index(1)
        else:
            obj.select_by_index(3)

        # work on search button
        driver.find_element_by_name("cmdFindClient").click()

    

        # two scenarios could emerge as a search result: 1, not found 2, the  found
        if "No were found for the requested search criteria" in driver.find_element_by_id("queryResultsForm").text:
            return al

        if "the found" in driver.find_element_by_id("queryResultsForm").text:

            # work on button
            driver.find_element_by_xpath(
                "//*[@id='queryResultsForm']/table[2]/tbody/tr[2]/td[2]/span/label").click()

            # work on pt button
            driver.find_element_by_id("redirect1").click()

            # work on getting rid of opt out  - header
            header = driver.find_elements_by_class_name("large")[1].text

            if "Access Restricted" in header:
                print(Fname+' '+Lname+' '+" Opt out")
                return al

            if "Information" in header:
                # find the first line
                first = driver.find_element_by_xpath(
                    "//*[@id='container']/table[3]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr[1]/td/table/tbody/tr[5]/td[1]"
                ).text
                
                if (first == None):
                    return al
                
                even = driver.find_elements_by_class_name("evenRow")
                odd = driver.find_elements_by_class_name("oddRow")
                o = []
                e = []

                for value in odd:
                    o.append(value.text)
                for value in even:
                    e.append(value.text)

                length = len(o)
                i = 0
                al = []

                # merge odd and even row together and remove the row marked with complete
                while i < length:
                    al.append(e[i])
                    al.append(o[i])
                    i = i+1

                # parse each row of information with a comma, add group name for row that are without one
                for x in range(len(al)):
                    if is_date(al[x][1:10]):
                        al[x] = al[x].replace(' ', ',')
                        al[x] = al[x].replace(',of,', ' of ')
                        al[x] = group + ',' + al[x][2:]

                    else:
                        al[x] = al[x].replace(' ', ',')
                        al[x] = al[x].replace(',of,', ' of ')
                        g = al[x].split(',', 1)
                        group = g[0]
                        
        # work on returning to home page
        driver.find_element_by_xpath(
            "//*[@id='headerMenu']/table/tbody/tr/td[2]/div/a").click()
    except NoSuchElementException:
        pass

    except WebDriverException:
        pass
    
    return  al

In [ ]:
def movesnake():
    while True:
        entry = input()

        if entry == 'w':
            print('w')

        if entry == 'a':
            print('a')

        if entry == 'd':
            print('d')
        

movesnake()

In [ ]:
filterDict = {
   "1" : ["1a","1b"],
   "2" : ["2a","2b"]
}
filterDict

In [ ]:
type(df[['colA', 'colB']].apply(tuple))

In [4]:
import pandas as pd

df = pd.DataFrame({'colA': [1,1,2,2,2,3,4], 'colB': ['1a', '1b', '2a', '2b', '2c', '3a', '4a']})

filterDict = {
   "1" : ["1a","1b"],
   "2" : ["2a","2b"]
}

In [5]:
df['colC'] = df[['colA', 'colB']].apply(

    lambda _: 'NO' if str(_[0]) in filterDict and _[1] in filterDict.get(str(_[0]), []) else 'YES',
    axis=1
)
df['colD'] = df['colC'].copy()
df

   colA colB colC colD
0     1   1a   NO   NO
1     1   1b   NO   NO
2     2   2a   NO   NO
3     2   2b   NO   NO
4     2   2c  YES  YES
5     3   3a  YES  YES
6     4   4a  YES  YES

In [6]:
df = pd.DataFrame({'col1': ['1c', '1a', '2z', '2x', '2a', '3a', '4a'], 'col2': ['1a', '1b', '2a', '2b', '2c', '3a', '4a']})
df

  col1 col2
0   1c   1a
1   1a   1b
2   2z   2a
3   2x   2b
4   2a   2c
5   3a   3a
6   4a   4a

In [14]:
df[['col1', 'col2']] = pd.DataFrame(
    zip(*df[['col1', 'col2']].apply(sorted, axis=1).values)
).T

df

  col1 col2
0   1a   1c
1   1a   1b
2   2a   2z
3   2b   2x
4   2a   2c
5   3a   3a
6   4a   4a

In [21]:
import ast

variable = '''
[A, B, C, D, E, F, G, H]
[I, J, K, L, M, N, O, P]
[Q, R, S, T, U, V, W, X]
'''

listas = [_ for _ in variable.split('\n') if len(_) > 1]
listas

['[A, B, C, D, E, F, G, H]',
 '[I, J, K, L, M, N, O, P]',
 '[Q, R, S, T, U, V, W, X]']